.marker {
  transform-origin: bottom;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: bounce-1;
  animation-timing-function: linear;
}

@keyframes bounce-1 {
  0% {
    top: 0px;
  }

  50% {
    top: -15px;
  }
  100% {
    top: 0px;
  }
}
