.marker {
  /* background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0px 0px 10px black;
  transition: all 1s; */
  transform-origin: bottom;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: bounce-1;
  animation-timing-function: linear;
}

@keyframes bounce-1 {
  0% {
    top: 0px;
  }

  50% {
    top: -15px;
  }
  100% {
    top: 0px;
  }
}
